/* Footer styling */

footer {
    position: absolute;
    bottom: 0;
    background-color: #0f0;
    height: 60px;
    width: 100%;
    vertical-align: middle;
    text-align: center;
}

footer p {
    margin: 0;
    line-height: 60px;
}